/*--- These Styles is universal ---*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*{
    margin: 10px;
}
body{
    font-family: 'Work Sans', sans-serif;
  }

  
/*--- Header Part--- */

header{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.info{
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.info li a{
    text-decoration: none;
    color: #131313;
}
.list-item{
    padding: 20px;
}
.architect{
    text-align: center;
    margin: 200px 400px;
}
.architect-title{
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
.architect-subtitle{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}
.explore-button{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 50px;
}
.image{
    padding: 25px;
    border-radius: 8px;
    justify-content: center;
}
.image img{
    height: 700px;
    width: 100%;
}


/* -------Main Part------- */

/* ---First Feature Part--- */

.first-feature{
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-image img{
   margin: 25px;
}
.quick-list{
    font-size: 45px;
    margin-bottom: 20px;
}
.team p{
    color: #727272;
    font-weight: 400;
    margin-bottom: 20px;
}
.first-style{
    color: #727272
}
.second-style{
    color: #131313
}
.third-style{
    color: #FF900E;
}


/* ---Second Feature Part--- */

.line-feature{
    display: flex;
    gap: 15px;
}
.line{
    width: 15px;
    height: 180px;
    background: #FF900E;
}
.second-feature{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;
}
.feature-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}
.feature-subtitle{
    color: #727272;
    font-size: 16px;
    margin-bottom: 25px;
}
.loving-features{
    flex-direction: column;
}
.loving-feature-container{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 40px;
    margin-bottom: 20px;
}
.loving-feature-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.loving-feature-subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.experience-button{
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 280px;
    left: 520px;
    background-color: #FF900E;
    padding: 25px 20px;
    border: none;
    border-radius: 10px;

}
.button-title{
    font-weight: 700;
    font-size: 45px;   
}
.button-subtitle{
    font-weight: 500;
    font-size: 25px;   
}


/*------ Some Facts Part ------ */

.facts{
    padding: 50px 70px;
}
.facts-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}
.facts-description{
    width: 40%;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 70px;
}
.facts-container{
    display: flex;
    justify-content: space-evenly;
}
.awards{
    text-align: center;
    padding: 40px 35px;
    border: 1px solid #FF900E;
    border-radius: 10px;
}
.awards:hover{
    transition-duration: 3s;
    transform: rotate(180deg);
    opacity: 1;
}
.awards-number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.awards-title{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.sponsor-title{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
.sponsor-description{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 50px;
}
.sponsors-container{
    display: flex;
    justify-content: center;
}
.sponsors-logo{
    filter: grayscale(100%);
}

/* ---Footer Part--- */

.footer{
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin: 100px;
    padding: 30px;
    color: #424242;
    background-color: #FFF4E7;
    border-radius: 10px;
}